<!DOCTYPE html>
<html>
<head>
  <title>
    Gabbit! - Homepage
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <a href="./homepage">Gabbit</a>
    <a href="./creategab">Create A New Gab</a>
    <a href="./login">Log In</a>
    <a href="./signup">Sign Up</a>
  </header>

  <h1>What Are You Going to Gabble About?</h1>

  <p>Welcome to Gabbit! If you have not created an account, please do so before you can begin gabbiting. Otherwise, you will only be able to view other gabbits other users have created and not be able to respond to these gabbits.<p>


</body>
</html>
