<!DOCTYPE html>
<html>
<head>
  <title>
    Gabbit!
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  {{> navigation }}

  <h1>Welcome to Gabbit!</h1>

  <p id="welcomeMessage">Welcome to Gabbit, a community where users can gabble all they want, from the smallest gabble to the biggest gabble there is! Please, sign in or create an account with Gabbit in order to view all the gabbles a user can digest. Otherwise, you are absolutely, resolutely, perfectly stuck <strong>here</strong>.</p>



</body>
</html>
