<!DOCTYPE html>
<html>
  <head>
    <title>
      Gabbit! - Homepage
    </title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <header>
      <a href="./homepage">Gabbit</a>
      <a href="./creategab">Create A New Gab</a>
      <a href="./login">Log In</a>
      <a href="./signup">Sign Up</a>
    </header>

    <h1>Ready to Become a Member of Gabbit?</h1>

    <form method="POST" action="/login">
      <input type="text" name="formName" placeholder="Username"></input>
      <input type="text" name="formPassword" placeholder="Password"></input>
    </form>


  </body>
</html>
