<!DOCTYPE html>
<html>
  <head>
    <title>
      Gabbit! - Log In
    </title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>

    {{> navigation }}

    <h1>Sign In</h1>

    <form method="POST" action="/form_login" id="form_login">
      <p><input type="text" name="form_login_Name" placeholder="Username"></input></p>
      <p><input type="text" name="form_login_Password" placeholder="Password"></input></p>
      <p><input type="submit" value="Log In"></input></p>
    </form>


  </body>
</html>
