<!DOCTYPE html>
<html>
<head>
  <title>
    Gabbit! - What's Trending Now?
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  {{> navigation }}

  <p>Hello {{bigfoot.userName}}, check out the latest gabbit!</p>

  <h1>The Hottest Gabble Ever..!</h1>

  {{ #whatsTrending }}
  <section>
  <strong>{{ user.userName }}:</strong><a href="/atglance/?id={{ id }}">{{ gabMessage }}</a>
  <form method="POST" action="/likes/{{ id }}">
    <input type="submit" value="Like" class="likeButton">
  </form>
</section>

  {{ /whatsTrending }}


</body>
</html>
